.window-comment {
  /*background: #20c997;*/
  /*border: 2px solid #01234c;*/

  /*align-items: center;*/
  /*padding: 10px;*/
}

/*.block-comment-textarea {*/
/*  width: 290px;*/
/*  background: #20c997;*/
/*}*/
.comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment-textarea {
  /*margin-left: 13px;*/
  border-radius: 10px;
  border: 2px solid #0a53be;
  background: snow;
  box-shadow: 1px 1px 1px #0a53be;
  height: 85px;
  width: 500px;
  font-size: 15px;
  padding: 5px;
}

.block-comment-select {
  /*padding-top: 10px;*/
  /*width: 210px;*/
  /*background: #20c997;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background: #20c997;*/
  padding-left: 5px;
}

.comment-select {
  height: 40px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid #0a53be;
  background: snow;
  box-shadow: 1px 1px 1px #0a53be;
}

.block-submit-comment-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*background: #20c997;*/
  width: 100%;
}

.submit-comment-button {
  margin-top: 5px;
  height: 40px;
  width: 95px;
  border-radius: 10px;
  border: 2px solid #0a53be;
  background: snow;
  box-shadow: 1px 1px 1px #0a53be;
}

.submit-comment-button:active {
  background: rgba(120, 165, 216, 0.489);
}

.img-comment {
  width: 25px;
}
