<div class="block-show-patient" *ngIf="patient">
  <div class="header-show-patient">
    <div class="full-name">{{patient.firstName}} {{patient.lastName}}</div>
    <div class="age-and-buttons">
      <div class="age">{{this.age}} years old</div>
      <div>
        <button class="button-show-patient">
          <img class="img-show-patient" src="assets/images/edit.png"><br>
          Update
        </button>
        <button class="button-show-patient" (click)="deletePatient()">
          <img class="img-show-patient" src="assets/images/delete.png"><br>
          Delete
        </button>
      </div>
    </div>
  </div>
  <div class="body-show-patient">
    <!--    <div class="spinner-border text-primary" role="status">-->
    <!--      <span class="sr-only"> .........Loading...</span>-->
    <!--    </div>-->
    <div class="information-show-patient">
      <table>
        <tr>
          <td class="table-description">Date of Birth:</td>
          <td>{{patient.birthday | date: 'd MMMM y'}}</td>
        </tr>
        <tr>
          <td class="table-description">Sex:</td>
          <td>{{patient.sex.toLowerCase()}}</td>
        </tr>
        <tr>
          <td class="table-description">Country:</td>
          <td>{{patient.country}}</td>
        </tr>
        <tr>
          <td class="table-description">State:</td>
          <td>{{patient.state}}</td>
        </tr>
        <tr>
          <td class="table-description">Address:</td>
          <td>{{patient.address}}</td>
        </tr>
      </table>
    </div>
    <div class="comments-show-patient">
      some comments!
    </div>
  </div>

</div>
