/* You can add global styles to this file, and also import other style files */
@import "./assets/bootstrap.css";
body{
  background:rgba(247, 255, 255, 0.816);
  height: 100%;
  width: 100%;
  overflow: hidden;
}
