<!--<div class="main-container">-->
<div class="block-list-patients">
  <div class="list">Patient`s List</div>
  <div class="patients-container">
    <ul class="patients">
      <li *ngFor="let patient of patients">
        <a routerLink="patients/detail/{{patient.id}}" routerLinkActive="active">
          <div class="one-patient">
            <div class="full-name">
              {{patient.firstName}} {{patient.lastName}}
              <div class="date">
                {{patient.birthday | date: 'd MMMM y'}}
              </div>
            </div>
            <div>
              <img class="img-gender" src="assets/images/{{patient.sex.toLowerCase()}}.png" alt="image">
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
<!--  <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>-->
<!--  <router-outlet></router-outlet>-->
<!--  <div class="block-show-patient-outlet">-->
<!--&lt;!&ndash;    <app-patient-view (activate)="onActivate($event)"></app-patient-view>&ndash;&gt;-->
<!--&lt;!&ndash;    <router-outlet (activate)="onActivate($event)"></router-outlet>&ndash;&gt;-->
<!--  </div>-->
<!--</div>-->
