<main>
  <div class="navigation-header">
    <a class="text-decoration-none" routerLink="" routerLinkActive="active">
      <div class="card">MedicalCards</div>
    </a>
    <a class="text-decoration-none" routerLink="" routerLinkActive="active">
      <div class="but">Add new patient</div>
    </a>
    <a class="text-decoration-none" routerLink="doctors" routerLinkActive="active">
      <div class="but">Doctor</div>
    </a>
    <div class="search">
      <app-patient-search></app-patient-search>
    </div>
  </div>
  <div class="container-fluid overflow-hidden d-flex container-body">
    <div class="container-list">
      <app-patient-list></app-patient-list>
    </div>
    <div class="block-outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
