<div class="navigation-header">
  <!--  <nav class="navbar navbar-expand navbar-dark bg-dark">-->
  <div class="card">MedicalCards</div>
  <div class="but">Add new patient</div>
  <div class="but">Add new doctor</div>
  <div class="search">
    <app-patient-search></app-patient-search>
  </div>
  <!--  <div>-->
  <!--    <label for="search-box">Hero Search</label>-->
  <!--    <input #searchBox id="search-box" (input)="search(searchBox.value)" />-->
  <!--  </div>-->

</div>
<!--    <a href="#" class="navbar-brand">MedicalCards</a>-->
<!--    <div class="navbar-nav mr-auto">-->
<!--      <li class="nav-item">-->
<!--        &lt;!&ndash;        Todo link&ndash;&gt;-->
<!--&lt;!&ndash;        <a routerLink="tutorials" class="nav-link">Add new patient</a>&ndash;&gt;-->
<!--        <p>Add new patient</p>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        &lt;!&ndash;        Todo link&ndash;&gt;-->
<!--&lt;!&ndash;        <a routerLink="add" class="nav-link">Add new doctor</a>&ndash;&gt;-->
<!--        <p>Add new doctor</p>-->
<!--      </li>-->
<!--    </div>-->
<!--  </nav>-->


<!--  <div class="container mt-3">-->
<div class="container-fluid vh-100 overflow-hidden">
  <router-outlet></router-outlet>
</div>


<!--<mat-tab-group>-->
<!--  <mat-tab label="First"> Content 1 </mat-tab>-->
<!--  <mat-tab label="Second"> Content 2 </mat-tab>-->
<!--  <mat-tab label="Third"> Content 3 </mat-tab>-->
<!--</mat-tab-group>-->

